@charset "utf-8";
*{
    margin:0;
    padding:0;
    user-select:none;
    -webkit-user-select: none;
    cursor:default;
}
html,body{
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 12px;
    box-sizing: border-box;
    background-color: #f7f8fa;
}
ul li,ol li{list-style:none;}
a{ text-decoration:none;outline:none;}
img{border:none;}
a:hover{text-decoration:none;}
.clearfix:after{content:""; display:block; clear:both; height:0; line-height:0; visibility:hidden;}
.clearfix{zoom:1;}

.fl{float:left;}
.fr{float:right;}
input,textarea{
	outLine:none;
	cursor:pointer;
    user-select:auto;
    -webkit-user-select: auto;
	}
/**/
html,body,a,input[type=button],input[type=text],input[type=password],input[type=submit],input,button{
	-webkit-appearance:none;
	outline:none;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	}
a:active{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

